
var-bg                        = white

var-node                      = white
var-node-base                 = white
var-node-primary              = white
var-node-secondary            = white
var-node-third                = white

var-node-error                = #ef9a9a
var-node-base-error           = #ef9a9a
var-node-primary-error        = #ef9a9a
var-node-secondary-error      = #ef9a9a
var-node-third-error          = #ef9a9a

var-node-hover                = #dbdddf
var-node-base-hover           = #dbdddf
var-node-primary-hover        = #dbdddf
var-node-secondary-hover      = #dbdddf
var-node-third-hover          = #dbdddf

var-node-label                = #dbdddf
var-node-base-label           = #3C763D
var-node-primary-border       = blue
var-node-secondary-border     = orange
var-node-third-border         = green


var-node-border               = #dbdddf
var-node-base-border          = #3C763D 
var-node-primary-border       = blue
var-node-secondary-border     = orange
var-node-third-border         = green

var-node-border-bg            = #dbdddf
var-node-base-border-bg       = #3C763D 
var-node-primary-border-bg    = #dbdddf
var-node-secondary-border-bg  = #dbdddf
var-node-third-border-bg      = #dbdddf

var-node-hover-border         = #dbdddf
var-node-base-hover-border    = #dbdddf
var-node-primary-hover-border = #dbdddf
var-node-secondary-border     = #dbdddf
var-node-third-border         = #dbdddf

var-node-icon                 = #6E91A1

var-node-base-icon            = #3C763D

var-node-primary-icon         = blue
var-node-secondary-icon       = orange
var-node-third-icon           = green

var-node-icon-big             = #6E91A1
var-node-base-icon-big        = #6E91A1
var-node-primary-icon-big     = #6E91A1
var-node-secondary-icon-big   = #6E91A1
var-node-third-icon-big       = #6E91A1

var-node-icon-small           = #000000
var-node-base-icon-small      = #000000
var-node-primary-icon-small   = #000000
var-node-secondary-icon-small = #000000
var-node-third-icon-small     = #000000

var-node-selected             = #40b2e9
var-node-selected-border      = white
var-node-selected-icon        = white
var-node-deselected           = #dbdddf
var-node-deselected-border    = #dbdddf
var-node-deselected-icon      = #b4bbc3

var-export-bg                 = #fecb7f

var-type-a                    = #fff
var-type-b                    = #354d66
var-text-bg                   = #fff
var-tooltip-bg                = hsla(0, 0%, 0%, 0.9)

var-selection-box             = hsla(0, 0%, 100%, 0.15)
var-selection-box-hover       = hsla(0, 0%, 100%, 0.25)
var-selection-box-border      = hsl(0, 0%, 90%)

var-menu-modal-bg             = rgba(0, 0, 0, 0.5)
var-menu-bg                   = hsla(211, 12%, 19%, 0.95)
var-menu-bg-hover             = hsla(211, 12%, 40%, 0.95)
var-menu-border               = hsl(0, 0%, 75%)
var-menu-icon-bg              = hsl(211, 12%, 8%)

var-edge-bg                   = #dbdddf
var-edge-hover-bg             = #dbdddf
var-edge-width                = 3px

@require "./the-graph-spectrum"
