var-route00 = #dbdddf
var-route01 = #14b9d6
var-route02 = #fecb7f
var-route03 = #9fa8da

// var-route00-fade = #dbdddf
// var-route01-fade = #14b9d6
// var-route02-fade = #fecb7f
// var-route03-fade = #9fa8da

var-group00 = white
// var-group01 = rgba(219,211,223,.5)
// var-group02 = rgba(219,211,223,.5)
// var-group03 = rgba(219,211,223,.5)

var-group00-stroke = none
var-group01-stroke = none
var-group02-stroke = none
var-group03-stroke = none

var-group00-hover = rgba(219,211,223,.2)
var-group01-hover = rgba(219,211,223,.2)
var-group02-hover = rgba(219,211,223,.2)
var-group03-hover = rgba(219,211,223,.2)

// var-group00-fade = #dbdddf
// var-group01-fade = #14b9d6
// var-group02-fade = #fecb7f
// var-group03-fade = #9fa8da
