.the-graph-foehn .the-graph-app {
  background-color: #fff;
  position: relative;
}
.the-graph-foehn .app-canvas,
.the-graph-foehn .app-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.the-graph-foehn svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.the-graph-foehn .arrow {
  cursor: default;
}
.the-graph-foehn .click {
  cursor: pointer;
}
.the-graph-foehn .drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.the-graph-foehn .node-border {
  fill: #dbdddf;
  stroke: #dbdddf;
  stroke-width: 2px;
}
.the-graph-foehn .node-rect {
  fill: #fff;
  stroke: none;
}
@-webkit-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@-moz-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@-o-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
.the-graph-foehn .node.error .node-rect {
  -webkit-animation: error 1s linear infinite alternate;
  -moz-animation: error 1s linear infinite alternate;
  -o-animation: error 1s linear infinite alternate;
  animation: error 1s linear infinite alternate;
  stroke: none;
}
.the-graph-foehn .node:hover .node-rect {
  fill: #dbdddf;
}
.the-graph-foehn .node:hover .node-border {
  stroke: #dbdddf;
}
.the-graph-foehn .node:hover .port-arc {
  fill: #dbdddf;
}
.the-graph-foehn .ex-inports .node-border {
  fill: #fecb7f;
  stroke: none;
}
.the-graph-foehn .ex-outports .node-border {
  fill: #fecb7f;
  stroke: none;
}
.the-graph-foehn .ex-inports .node .node-rect,
.the-graph-foehn .ex-outports .node .node-rect,
.the-graph-foehn .ex-inports .node:hover .node-rect,
.the-graph-foehn .ex-outports .node:hover .node-rect {
  fill: none;
}
.the-graph-foehn .selection .ex-inports .node .node-border,
.the-graph-foehn .selection .ex-outports .node .node-border {
  fill: #fecb7f;
}
.the-graph-foehn .small .node-border {
  fill: #fff;
  stroke: none;
}
.the-graph-foehn .small .ex-inports .node .node-border,
.the-graph-foehn .small .ex-outports .node .node-border {
  fill: #fecb7f;
}
.the-graph-foehn .node-bg {
  opacity: 0;
}
.the-graph-foehn .selection .node .node-rect {
  fill: #dbdddf;
}
.the-graph-foehn .selection .node .node-border {
  stroke: #dbdddf;
}
.the-graph-foehn .selection .node .port-arc {
  fill: #dbdddf;
}
.the-graph-foehn .selection .node .node-icon {
  fill: #b4bbc3;
}
.the-graph-foehn .selection .node.selected .node-rect {
  fill: #40b2e9;
}
.the-graph-foehn .selection .node.selected .node-border {
  stroke: #fff;
}
.the-graph-foehn .selection .node.selected .port-arc {
  fill: #fff;
}
.the-graph-foehn .selection .node.selected .node-icon {
  fill: #fff;
}
.the-graph-foehn .selection .ex-inports .node .node-icon {
  fill: var-route02-fade;
}
.the-graph-foehn .selection .ex-outports .node .node-icon {
  fill: var-route04-fade;
}
.the-graph-foehn .small .selection .node .node-rect {
  fill: none;
}
.the-graph-foehn .small .selection .node .node-border {
  fill: #dbdddf;
  stroke: none;
}
.the-graph-foehn .small .selection .node.selected .node-rect {
  fill: none;
}
.the-graph-foehn .small .selection .node.selected .node-border {
  fill: #40b2e9;
  stroke: none;
}
.the-graph-foehn path {
  fill: none;
}
.the-graph-foehn .edge-bg {
  stroke: #dbdddf;
  stroke-width: 5px;
}
.the-graph-foehn .edge-fg {
  stroke: #dbdddf;
  stroke-width: 3px;
  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.the-graph-foehn .edge-touch {
  stroke-width: 7px;
  opacity: 0;
}
.the-graph-foehn .edge:hover .edge-bg {
  stroke: #dbdddf;
}
.the-graph-foehn .edge.selected .edge-bg {
  stroke-width: 8px;
  stroke: #e6e6e6;
}
.the-graph-foehn .small .edge-bg {
  stroke-width: 8px;
}
.the-graph-foehn .small .edge-fg {
  stroke-width: 6px;
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
.the-graph-foehn .edge.animated .edge-bg {
  stroke-linecap: round;
  stroke-width: 12px;
  stroke: #e6e6e6;
  -webkit-animation: heartbeats 1s linear infinite;
  -moz-animation: heartbeats 1s linear infinite;
  -o-animation: heartbeats 1s linear infinite;
  animation: heartbeats 1s linear infinite;
}
.the-graph-foehn text {
  font-family: "Open Sans", "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: #354d66;
  text-anchor: middle;
  dominant-baseline: central;
}
.the-graph-foehn .text-bg-rect {
  fill: #fff;
}
.the-graph-foehn .node-label,
.the-graph-foehn .node-sublabel {
  text-anchor: middle;
}
.the-graph-foehn .small .node-label-bg {
  visibility: hidden;
}
.the-graph-foehn .node-sublabel {
  font-size: 9px;
}
.the-graph-foehn .node-sublabel-bg {
  visibility: hidden;
}
.the-graph-foehn .big .node-sublabel-bg {
  visibility: visible;
}
.the-graph-foehn .iip-path {
  stroke-width: 1px;
  stroke: #dbdddf;
}
.the-graph-foehn .iip-info {
  visibility: hidden;
}
.the-graph-foehn .iip-info .text-bg-text {
  font-size: 5px;
  text-anchor: end;
}
.the-graph-foehn .big .iip-info {
  visibility: visible;
}
.the-graph-foehn .context-modal-bg {
  fill: rgba(0,0,0,0.5);
}
.the-graph-foehn .context-node-rect {
  fill: #121417;
  stroke: #bfbfbf;
  stroke-width: 0.5px;
}
.the-graph-foehn .context-node-icon {
  font-size: 30px;
  fill: #fff;
}
.the-graph-foehn .context-icon {
  font-size: 20px;
  fill: #fff;
}
.the-graph-foehn .context-node-label {
  text-anchor: middle;
}
.the-graph-foehn .context-arc {
  stroke-width: 72px;
  stroke: rgba(43,48,54,0.95);
}
.the-graph-foehn .context-slice.click:hover .context-arc {
  stroke: rgba(90,102,114,0.95);
}
.the-graph-foehn .context-circle {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1.5px;
}
.the-graph-foehn .context-circle-x {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1px;
}
.the-graph-foehn .context-arc-icon-label {
  font-size: 12px;
}
.the-graph-foehn .context text {
  fill: #fff;
}
.the-graph-foehn .context-port-bg {
  fill: rgba(43,48,54,0.95);
}
.the-graph-foehn .context-port-bg.highlight {
  stroke: #bfbfbf;
  stroke-width: 1px;
}
.the-graph-foehn .context-port-hole {
  stroke-width: 2px;
  fill: rgba(43,48,54,0.95);
  stroke: #bfbfbf;
}
.the-graph-foehn .context-port-path {
  stroke: #bfbfbf;
}
.the-graph-foehn .context-port-label {
  fill: #fff;
  dominant-baseline: central;
}
.the-graph-foehn .context-port-in .context-port-label {
  text-anchor: end;
}
.the-graph-foehn .context-port-out .context-port-label {
  text-anchor: start;
}
.the-graph-foehn .context-edge-label-out {
  text-anchor: end;
  dominant-baseline: central;
}
.the-graph-foehn .context-edge-label-in {
  text-anchor: start;
  dominant-baseline: central;
}
.the-graph-foehn .tooltip {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.the-graph-foehn .tooltip.hidden {
  opacity: 0;
}
.the-graph-foehn .tooltip-bg {
  fill: rgba(0,0,0,0.9);
  opacity: 0.75;
}
.the-graph-foehn .tooltip-label {
  text-anchor: start;
  font-size: 10px;
}
.the-graph-foehn .icon.context-icon {
  font-family: 'font-foehn';
  text-anchor: middle;
  dominant-baseline: central;
}
.the-graph-foehn .icon {
  font-family: 'font-foehn';
  text-anchor: middle;
  dominant-baseline: central;
}
.the-graph-foehn .node-icon {
  font-size: 45px;
  fill: #6e91a1;
  transition-property: font-size, fill;
  transition-duration: 0.5s, 0.3s;
}
.the-graph-foehn .small .node-icon {
  fill: #000;
  font-size: 66px;
}
.the-graph-foehn .big .node-icon {
  fill: #6e91a1;
}
.the-graph-foehn .ex-inports .node-icon,
.the-graph-foehn .small .ex-inports .node-icon {
  fill: #fecb7f;
}
.the-graph-foehn .ex-outports .node-icon,
.the-graph-foehn .small .ex-outports .node-icon {
  fill: var-route04;
}
.the-graph-foehn .port-circle-bg {
  fill: #dbdddf;
  opacity: 0;
}
.the-graph-foehn .port-arc {
  fill: #dbdddf;
}
.the-graph-foehn .port-circle-small {
  fill: none;
}
.the-graph-foehn .small .port-circle {
  visibility: hidden;
}
.the-graph-foehn .port-label {
  fill: #354d66;
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}
.the-graph-foehn .inports .port-label {
  text-anchor: start;
}
.the-graph-foehn .outports .port-label {
  text-anchor: end;
}
.the-graph-foehn .big .port-label {
  visibility: visible;
}
.the-graph-foehn .big .ex-inports .port-label,
.the-graph-foehn .big .ex-outports .port-label {
  visibility: hidden;
}
.the-graph-foehn .group-box {
  fill: #fff;
  transition-property: fill;
  transition-duration: 0.3s;
}
.the-graph-foehn .group-box:hover {
  fill: rgba(219,211,223,0.2);
}
.the-graph-foehn .small .group-box {
  stroke-width: 8px;
}
.the-graph-foehn .group-box.color0 {
  fill: #fff;
  stroke: none;
}
.the-graph-foehn .group-box.color1 {
  fill: var-group01;
  stroke: none;
}
.the-graph-foehn .group-box.color2 {
  fill: var-group02;
  stroke: none;
}
.the-graph-foehn .group-box.color3 {
  fill: var-group03;
  stroke: none;
}
.the-graph-foehn .group-box.color4 {
  fill: var-group04;
  stroke: var-group04-stroke;
}
.the-graph-foehn .group-box.color5 {
  fill: var-group05;
  stroke: var-group05-stroke;
}
.the-graph-foehn .group-box.color6 {
  fill: var-group06;
  stroke: var-group06-stroke;
}
.the-graph-foehn .group-box.color7 {
  fill: var-group07;
  stroke: var-group07-stroke;
}
.the-graph-foehn .group-box.color8 {
  fill: var-group08;
  stroke: var-group08-stroke;
}
.the-graph-foehn .group-box.color9 {
  fill: var-group09;
  stroke: var-group09-stroke;
}
.the-graph-foehn .group-box.color10 {
  fill: var-group10;
  stroke: var-group10-stroke;
}
.the-graph-foehn .group-box.color0:hover {
  fill: rgba(219,211,223,0.2);
}
.the-graph-foehn .group-box.color1:hover {
  fill: rgba(219,211,223,0.2);
}
.the-graph-foehn .group-box.color2:hover {
  fill: rgba(219,211,223,0.2);
}
.the-graph-foehn .group-box.color3:hover {
  fill: rgba(219,211,223,0.2);
}
.the-graph-foehn .group-box.color4:hover {
  fill: var-group04-hover;
}
.the-graph-foehn .group-box.color5:hover {
  fill: var-group05-hover;
}
.the-graph-foehn .group-box.color6:hover {
  fill: var-group06-hover;
}
.the-graph-foehn .group-box.color7:hover {
  fill: var-group07-hover;
}
.the-graph-foehn .group-box.color8:hover {
  fill: var-group08-hover;
}
.the-graph-foehn .group-box.color9:hover {
  fill: var-group09-hover;
}
.the-graph-foehn .group-box.color10:hover {
  fill: var-group10-hover;
}
.the-graph-foehn .selection .group-box.color0 {
  fill: var-group00-fade;
}
.the-graph-foehn .selection .group-box.color1 {
  fill: var-group01-fade;
}
.the-graph-foehn .selection .group-box.color2 {
  fill: var-group02-fade;
}
.the-graph-foehn .selection .group-box.color3 {
  fill: var-group03-fade;
}
.the-graph-foehn .selection .group-box.color4 {
  fill: var-group04-fade;
}
.the-graph-foehn .selection .group-box.color5 {
  fill: var-group05-fade;
}
.the-graph-foehn .selection .group-box.color6 {
  fill: var-group06-fade;
}
.the-graph-foehn .selection .group-box.color7 {
  fill: var-group07-fade;
}
.the-graph-foehn .selection .group-box.color8 {
  fill: var-group08-fade;
}
.the-graph-foehn .selection .group-box.color9 {
  fill: var-group09-fade;
}
.the-graph-foehn .selection .group-box.color10 {
  fill: var-group10-fade;
}
.the-graph-foehn .selection .group-box.selection {
  fill: rgba(255,255,255,0.15);
  stroke: #e6e6e6;
  stroke-width: 1px;
}
.the-graph-foehn .selection .group-box.selection:hover {
  fill: rgba(255,255,255,0.25);
}
.the-graph-foehn .group-label {
  text-anchor: start;
  fill: #fff;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.the-graph-foehn .small .group-label {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.the-graph-foehn .group-description {
  fill: #fff;
  font-size: 12px;
  text-anchor: start;
}
.the-graph-foehn .small .group-description {
  visibility: hidden;
}
.the-graph-foehn .stroke,
.the-graph-foehn .stroke.route0,
.the-graph-foehn .selection .selected .stroke,
.the-graph-foehn .selection .selected .stroke.route0 {
  stroke: #dbdddf;
}
.the-graph-foehn .stroke.route1,
.the-graph-foehn .selection .selected .stroke.route1 {
  stroke: #14b9d6;
}
.the-graph-foehn .stroke.route2,
.the-graph-foehn .selection .selected .stroke.route2 {
  stroke: #fecb7f;
}
.the-graph-foehn .stroke.route3,
.the-graph-foehn .selection .selected .stroke.route3 {
  stroke: #9fa8da;
}
.the-graph-foehn .stroke.route4,
.the-graph-foehn .selection .selected .stroke.route4 {
  stroke: var-route04;
}
.the-graph-foehn .stroke.route5,
.the-graph-foehn .selection .selected .stroke.route5 {
  stroke: var-route05;
}
.the-graph-foehn .stroke.route6,
.the-graph-foehn .selection .selected .stroke.route6 {
  stroke: var-route06;
}
.the-graph-foehn .stroke.route7,
.the-graph-foehn .selection .selected .stroke.route7 {
  stroke: var-route07;
}
.the-graph-foehn .stroke.route8,
.the-graph-foehn .selection .selected .stroke.route8 {
  stroke: var-route08;
}
.the-graph-foehn .stroke.route9,
.the-graph-foehn .selection .selected .stroke.route9 {
  stroke: var-route09;
}
.the-graph-foehn .stroke.route10,
.the-graph-foehn .selection .selected .stroke.route10 {
  stroke: var-route10;
}
.the-graph-foehn .selection .stroke,
.the-graph-foehn .selection .stroke.route0 {
  stroke: var-route00-fade;
}
.the-graph-foehn .selection .stroke.route1 {
  stroke: var-route01-fade;
}
.the-graph-foehn .selection .stroke.route2 {
  stroke: var-route02-fade;
}
.the-graph-foehn .selection .stroke.route3 {
  stroke: var-route03-fade;
}
.the-graph-foehn .selection .stroke.route4 {
  stroke: var-route04-fade;
}
.the-graph-foehn .selection .stroke.route5 {
  stroke: var-route05-fade;
}
.the-graph-foehn .selection .stroke.route6 {
  stroke: var-route06-fade;
}
.the-graph-foehn .selection .stroke.route7 {
  stroke: var-route07-fade;
}
.the-graph-foehn .selection .stroke.route8 {
  stroke: var-route08-fade;
}
.the-graph-foehn .selection .stroke.route9 {
  stroke: var-route09-fade;
}
.the-graph-foehn .selection .stroke.route10 {
  stroke: var-route10-fade;
}
.the-graph-foehn .fill.route0 {
  fill: #dbdddf;
}
.the-graph-foehn .fill.route1 {
  fill: #14b9d6;
}
.the-graph-foehn .fill.route2 {
  fill: #fecb7f;
}
.the-graph-foehn .fill.route3 {
  fill: #9fa8da;
}
.the-graph-foehn .fill.route4 {
  fill: var-route04;
}
.the-graph-foehn .fill.route5 {
  fill: var-route05;
}
.the-graph-foehn .fill.route6 {
  fill: var-route06;
}
.the-graph-foehn .fill.route7 {
  fill: var-route07;
}
.the-graph-foehn .fill.route8 {
  fill: var-route08;
}
.the-graph-foehn .fill.route9 {
  fill: var-route09;
}
.the-graph-foehn .fill.route10 {
  fill: var-route10;
}
@-moz-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@-webkit-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@-o-keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@keyframes error {
  0% {
    fill: #fff;
  }
  100% {
    fill: #ef9a9a;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}
@keyframes heartbeats {
  0% {
    stroke-width: 12px;
  }
  10% {
    stroke-width: 18px;
  }
  30% {
    stroke-width: 12px;
  }
  40% {
    stroke-width: 18px;
  }
  60% {
    stroke-width: 12px;
  }
}

/* Dialpan colors */

.dialplan-primary-bg {
  background-color: #f57c00;
}

.dialplan-primary-fill {
  fill: #f57c00;
}

.dialplan-primary-color {
  color: #f57c00;
}

.the-graph-foehn .selection .node .node-icon .dialplan-primary-fill {
  fill: #f57c00;
}

.dialplan-secondary-bg {
  background-color: #303f9f;
}

.dialplan-secondary-fill {
  fill: #303f9f;
}

.dialplan-secondary-color {
  color: #303f9f;
}

.the-graph-foehn .selection .node .node-icon .dialplan-secondary-fill {
  fill: #303f9f;
}

.dialplan-base-bg {
  background-color: #0097a7;
}

.dialplan-base-fill {
  fill: #0097a7;
}

.dialplan-base-color {
  color: #0097a7;
}

.the-graph-foehn .selection .node .node-icon .dialplan-base-fill {
  fill: #0097a7;
}
