/*
  Icon Font: font-foehn
*/

@font-face {
  font-family: "font-foehn";
  src: url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.eot");
  src: url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.woff") format("woff"),
       url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.ttf") format("truetype"),
       url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.svg#font-foehn") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-foehn";
    src: url("../fonts/font-foehn_f43e70178390920387cc821be50a96e4.svg#font-foehn") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.foehn-callfwd:before,
.foehn-conference:before,
.foehn-config:before,
.foehn-copy:before,
.foehn-ddi:before,
.foehn-directory:before,
.foehn-extension:before,
.foehn-followme:before,
.foehn-hangup:before,
.foehn-hangup-2:before,
.foehn-ivr:before,
.foehn-mobile-twinning:before,
.foehn-more:before,
.foehn-more-reverse:before,
.foehn-paste:before,
.foehn-phonebook:before,
.foehn-playback:before,
.foehn-playback-2:before,
.foehn-queue:before,
.foehn-ringgroup:before,
.foehn-schedule:before,
.foehn-script:before,
.foehn-set-callerid:before,
.foehn-trash:before,
.foehn-userextension:before,
.foehn-userprofile:before,
.foehn-voicemail:before {
  display: inline-block;
  font-family: "font-foehn";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.foehn-callfwd:before { content: "\f100"; }
.foehn-conference:before { content: "\f11b"; }
.foehn-config:before { content: "\f102"; }
.foehn-copy:before { content: "\f103"; }
.foehn-ddi:before { content: "\f104"; }
.foehn-directory:before { content: "\f105"; }
.foehn-extension:before { content: "\f106"; }
.foehn-followme:before { content: "\f107"; }
.foehn-hangup:before { content: "\f10b"; }
.foehn-hangup-2:before { content: "\f10c"; }
.foehn-ivr:before { content: "\f10d"; }
.foehn-mobile-twinning:before { content: "\f114"; }
.foehn-more:before { content: "\f115"; }
.foehn-more-reverse:before { content: "\f116"; }
.foehn-paste:before { content: "\f117"; }
.foehn-phonebook:before { content: "\f10e"; }
.foehn-playback:before { content: "\f10f"; }
.foehn-playback-2:before { content: "\f110"; }
.foehn-queue:before { content: "\f118"; }
.foehn-ringgroup:before { content: "\f11a"; }
.foehn-schedule:before { content: "\f119"; }
.foehn-script:before { content: "\f111"; }
.foehn-set-callerid:before { content: "\f112"; }
.foehn-trash:before { content: "\f113"; }
.foehn-userextension:before { content: "\f108"; }
.foehn-userprofile:before { content: "\f109"; }
.foehn-voicemail:before { content: "\f10a"; }
