// Variables
// --------------------------

@foehn-font-path:        "../fonts";
@foehn-css-prefix:       foehn;
@foehn-version:          "4.1.0";
@foehn-border-color:     #eee;
@foehn-inverse:          #fff;
@foehn-li-width:         (30em / 14);


@foehn-var-callfwd: "\f10e";
@foehn-var-ddi: "\f10f";
@foehn-var-hangup: "\f110";
@foehn-var-hangup-2: "\f111";
@foehn-var-ivr: "\f112";
@foehn-var-more: "\f113";
@foehn-var-more-reverse: "\f114";
@foehn-var-queue: "\f115";
@foehn-var-ringgroup: "\f116";
@foehn-var-schedule: "\f117";
@foehn-var-script: "\f118";
@foehn-var-userextension: "\f119";
@foehn-var-voicemail: "\f11a";
@foehn-var-voicemail-2: "\f11b";
